src/statemachine/multithread_statemachine.json
{
  "Comment": "AWS Multithreaded Statemachine definition",
  "StartAt": "init statemachine",
  "States": {
    "init statemachine": {
      "Type": "Task",
      "Resource": "${InitStatemachineArn}",
      "ResultPath": "$.iterator",
      "Next": "Iterator"
    },
    "Iterator": {
      "Type": "Task",
      "Resource": "${IteratorArn}",
      "ResultPath": "$.iterator",
      "Next": "IsCountReached"
    },
    "IsCountReached": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.iterator.continue",
          "BooleanEquals": true,
          "Next": "HTTP Request Size"
        }
      ],
      "Default": "Done"
    },
    "HTTP Request Size": {
      "Type": "Task",
      "Resource": "${HttpRequestSizeArn}",
      "Next": "Divide into parts"
    },
    "Divide into parts": {
      "Type": "Task",
      "Resource": "${DivideIntoPartsArn}",
      "Next": "Start Branch"
    },
    "Start Branch": {
      "Type": "Parallel",
      "Next": "Merge File",
      "ResultPath": "$",
      "Branches": [
        {
          "StartAt": "Download Part1",
          "States": {
            "Download Part1": {
              "Type": "Task",
              "ResultPath": "$",
              "OutputPath": "$",
              "Resource": "${DownloadPartOneArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part2",
          "States": {
            "Download Part2": {
              "Type": "Task",
              "Resource": "${DownloadPartTwoArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part3",
          "States": {
            "Download Part3": {
              "Type": "Task",
              "Resource": "${DownloadPartThreeArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part4",
          "States": {
            "Download Part4": {
              "Type": "Task",
              "Resource": "${DownloadPartFourArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part5",
          "States": {
            "Download Part5": {
              "Type": "Task",
              "Resource": "${DownloadPartFiveArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part6",
          "States": {
            "Download Part6": {
              "Type": "Task",
              "Resource": "${DownloadPartSixArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part7",
          "States": {
            "Download Part7": {
              "Type": "Task",
              "Resource": "${DownloadPartSevenArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part8",
          "States": {
            "Download Part8": {
              "Type": "Task",
              "Resource": "${DownloadPartEightArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part9",
          "States": {
            "Download Part9": {
              "Type": "Task",
              "Resource": "${DownloadPartNineArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "Download Part10",
          "States": {
            "Download Part10": {
              "Type": "Task",
              "Resource": "${DownloadPartTenArn}",
              "End": true
            }
          }
        }
      ]
    },
    "Merge File": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${MergeFileArn}",
      "Next": "Iterator"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}
